*__pycache__*
*.tfstate*
*.DS_Store
*.ipynb_checkpoints/
*.terraform.lock.hcl
*.terraform/
*log.log
*tutorial.py
*rename_dataframe.py
testing2*
rockets
*main*
s3
terraform
initial_utils.py
.env
*extract_pipeline.py*
profile_extract*
*ipynb
logs
plugins
.devcontainer
.github
config
